* { margin: 0; padding: 0; }

body {
  font-family: monospace;
  background: #eee;
}

#wrapper {
  width: 960px;
  padding: 0 10px;
  margin: 0 auto;
}

h1 {
  font-size: 48px;
  margin: 16px 0;
}

.buttons {
  margin: 8px 0;
}